#gruppe {
    background-color: rgba(135, 0, 22,1);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 5px 5px #313131, 0 5px 0 #393939, 0 5px 6px rgba(0, 0, 0, 0.4), 0 2px 9px rgba(255, 255, 255, 0.2) inset, 0 -2px 9px rgba(0, 0, 0, 0.2) inset;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 20px;
    margin-bottom: 40px;
    padding: 12px 20px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

#gruppe:hover {
    box-shadow: 0 5px 5px #313131, 0 5px 0 #393939, 0 9px 10px rgba(0, 0, 0, 0.4), 0 2px 9px rgba(255, 255, 255, 0.4) inset, 0 -2px 9px rgba(0, 0, 0, 0.2) inset;
    background-color: rgba(178, 1, 30,1);
}

#gruppe:active {
    box-shadow: 0 2px 0 #393939, 0 4px 4px rgba(0, 0, 0, 0.4), 0 2px 5px rgba(0, 0, 0, 0.2) inset;
    top: 3px;
}

html, body { height: 100%; width: 100%; margin: 0; }

.questionbox
{
	height: 50%;
	width: 90%;
	background: #250;
	font-size: 24px;
	font-style: oblique;
	color: #FFF;
	text-align: center;
	padding: 0 20px;
	margin: auto;
	margin-top: 2%;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	border-radius: 15px 30px 50px 5px;
}
