body {
  background-color: rgb(200,200,200);
}

.content {
  width:100%;
  height:100%;
}

.createform {
  width:  500px;
  margin: auto;
  padding: 10px;
  background-color: white;

  border-radius:  15px;
  border-style:   solid;
  border-color:   blue;
  border-width:   5px;
}

.createform form input {
  float:  right;
}
